a.plugin-anchor {
    color: inherit !important;
    display: none;
    margin-left: -40px;
    padding-left: 40px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

a.plugin-anchor span {
    margin-left: -40px;
    font-size: 10px;
}